

body{
   background-color: aliceblue;
}

.divdescripcionacme{
text-align: center;
padding: 30px;
color: white;
}
.textocentro{
    text-align: center;
    
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.elementos{
    width: 30%;
    height: 200px;
color: white;
}

#contenedorimg{
background-color: #212529

}

.fondoregister{
    background: aliceblue;
    text-align: center;
}
.centrar2{
    text-align: right;
}

.textsobreimg{
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%,-50% );
    font-family: cursive;
    opacity: 70%;
    color: black;
}
 
.moverallado{
    text-align: center;
}









